html
    head
        title= title
   
    body
        h1 enjoy welcome to psdaug!! 
        //- p= message
        form(method="POST")
            label USername
            input(type= "text" placeholder= "Username" name= "User")
            label Password
            input(type= "password" placeholder= "Password" name= "Pass")

            input(type= "Submit" value= "login")


            

            
